app_name     = "tester"
stage        = "dev"

aws_params = {
  region  = "eu-west-1"  
}

github_repository = {
  "name"   = "my/repo"
  "branch" = "main"
}

build_template  = "./resources/buildspec.yml"
test_template   = "./resources/testspec.yml"
deploy_template = "./resources/deployspec.yml"

tags = {
  Owner   = "owner"
  Destroy = "false"
}